[submodule "skynet-blockchain-gui"]
	path = skynet-blockchain-gui
	url = https://github.com/SkynetNetwork/skynet-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/SkynetNetwork/mozilla-ca.git
        branch = main
[submodule "chiabip158"]
	path = chiabip158
	url = https://github.com/SkynetNetwork/chiabip158.git
        branch = main
[submodule "chiavdf"]
	path = chiavdf
	url = https://github.com/SkynetNetwork/chiavdf.git
        branch = main
[submodule "chiapos"]
	path = chiapos
	url = https://github.com/SkynetNetwork/chiapos.git
        branch = main