[submodule "skynet-blockchain-gui"]
	path = skynet-blockchain-gui
	url = https://github.com/SkynetNetwork/skynet-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/SkynetNetwork/mozilla-ca.git
        branch = main
